.navigation {
    float: left;
    background-color: white;
    text-align: left;
    color: black;
    width: 15%;
    border: 1px solid #00bf00;;
    margin-left: 1%;
    height: 85%;
    word-wrap: break-word;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    position: relative;
}

.navigation ul{
    padding: 0;
    padding-left: 20px;
    margin: 0;
}

.navigation ul li{
    text-decoration: none;
    list-style: none;
    margin-top: 5px;
}

.navigationHeader{
    width: 100%;
    background-color: #007d00;
    color: white;
    top: 0;
    left: 0;
    margin: 0;
    padding: 5px;
    vertical-align: 50%;
    border-bottom: 1px solid #00bf00;
}
